#predictBtn {
  background-color: gray;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#predictBtn.active {
  background-color: #28a745;
}

.canvas-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
}


#undoBtn {
  position: static; 
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  z-index: auto;
}
